.repoListingContainer {
  width: 730px;
  position: relative;
  margin-left: 50px;
  list-style: none;
}

.repoListing {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

}

.repoTitle {
  text-decoration: none;
  color: #4183c4;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 20px;
  font-weight: bold;

    &:hover {
      text-decoration: underline;
}
}

.rightSideTag {
  float: right;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-weight: bold;
  color: #888888;
  font-size: 12px;

  & > a {
    color: #888888;
    text-decoration: none;
    &:hover {
      color: #4183c4;
    }
  }
}

.updated {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  color: #888888;
  font-size: 13px;
}
