<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>github-Rebuild</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.css">
  <link rel="stylesheet" href="dist/styles/main.css">
</head>
<body>
  <!-- topBar begin -->
<div class="topBarContainer"></div> <!-- topBarcontainer -->
  <script type="text/template" id="topBar">
    <div class="topBarInnerContainer">
      <a class="headerLogo" href="https://github.com/" aria-label="Homepage" ga-data-click="Header, go to dashboard, icon:logo">
        <span class="mega-octicon octicon-mark-github"></span>
      </a>
      <div class="searchBarContainer">
<!--figure this out--><form accept-charset="UTF-8" action="https://www.github.com/search" class="searchForm" data-global-search-url="https://www.github.com/search" data-repo-search-url="" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
<!--figure this out--><input type="text" class="searchBar" data-hotkey="s" name="q" placeholder="Search GitHub" data-global-scope-placeholder="Search GitHub" data-repo-scope-placeholder="Search" tabindex="1" autocapitalize="off">
          </form>
      </div><!--searchBar-->
    <ul class="exploreGistsBlogHelp">
      <li class="exploreLink">
      <a href="https://github.com/explore"><span>Explore</span></a></li>
      <li>
        <a href="https://gist.github.com"><span>Gist</span></a></li>
      <li>
        <a href="https://github.com/blog"><span>Blog</span></a></li>
      <li>
        <a href="https://help.github.com"><span>Help</span></a></li>
    </ul><!--exploreGistsBlogHelp-->
    <div class="topBarRight">
      <ul class="topBarRightList">
          <li>
            <a href="<%= userUrl %>" class="topBarRightListLink"><img src="<%= userAvatar %>" class="smallUserAvatar">
              <span class="userIdLink"><%= userId %></span>
            </a><!--userUrl-->
          </li>
          <li>
            <a href="#" class="topBarRightListLink"><!--newRepolink-->
              <span class="octicon octicon-plus"></span>
              <span class="octicon octicon-triangle-down"></span>
            </a><!--newRepoLink-->
          </li>
          <li>
            <a href="https://github.com/notifications" class="topBarRightListLink">
              <span class="octicon octicon-inbox"></span>
            </a><!--notifications-->
          </li>
          <li>
            <a href="https://github.com/settings/profile" class="topBarRightListLink"><!--settings-->
              <span class="octicon octicon-gear"></span>
            </a><!--settings-->
          </li>
          <li class="listItemSignOut">
            <a href="#" class="topBarRightListLink"><!--signout-->
              <span class="octicon octicon-sign-out"></span>
            </a><!--signout-->
          </li>
        </ul><!--topBarRightList-->
      </div><!--topBarRight-->
    </div> <!--topBarInnerContainer-->
  </script><!--topbar-->
  <!--    topbar split      -->
<div class="centerSectionContainer">
  <!--    userBar begin     -->
  <div class="sideBarContainer">
    <div class="userBar"> </div><!--user-->
      <script type="text/template" id="user">
          <img src="<%= userAvatar %>" class="bigAvatar">
        <div class="userNameIdContainer">
          <p class="userBarName"><%= userName %></p><p class="userBarId"><%= userId %></p>
        </div><!--userNameIdContainer-->

      </script> <!--user-->
  <!--    userBar end -->
  <!--    joinedContainer begin -->
  <div class="joinedContainer"></div><!--joinedContainer-->
    <script type="text/template" id="joined">
      <span class="octicon octicon-clock"></span><span>Joined on <%= joinedDate %>
    </script>

  <div class="followStarContainer">  </div><!--followStarContainer-->
    <script type="text/template" id="followStarFollowing">
      <div class="followersContainer">
        <a href="<%= followersUrl %>" class="followStarTags"><span class="followStarStats"><%= followersNumber %></span>
          <p>Followers</p></a>
      </div><!--followersContainer-->
      <div class="starredContainer">
        <a href="<%= starredUrl %>" class="followStarTags"><span class="followStarStats"><%= starredNumber %></span>
          <p>Starred</p></a>
      </div><!--starredContainer-->
      <div class="followingContainer">
        <a href="<%= followingUrl %>" class="followStarTags"><span class="followStarStats"><%= followingNumber %></span>
          <p>Following</p></a>
      </div> <!--followingContainer-->
    </script><!--followStarFollowing-->

  <div class="organizationsContainer">  </div><!--organizationsContainer-->
    <script type="text/template" id="organizations">
    <p class="orgsTitle">Organizations</p>
      <a href="https://github.com/'<%= organizationsName %>''">
        <img src="<%= organizationsImg %>" class="orgAvatar">
      </a>
    </script>
</div><!-- sideBarContainer-->
<!-- end orgs section -->
<div class="repoNavTopSection">
  <ul class="repoNavBar">
    <a href="https:github.com/tbarth17" class="repoNavTopLinks  contributionsTab"><li class="repoNavBarListItem">
        <span class="octicon octicon-diff-added"></span><span> Contributions</span>
    </li></a>
    <a href="https://github.com/tbarth17?=repositories" class="repoNavTopLinks repoNavSelectedTab"><li class="repoNavBarListItem">
        <span class="octicon octicon-repo"></span><span> Repositories</span>
    </li></a>
    <a href="https://github.com/tbarth17?=activity" <a href="https://github.com/tbarth17?=repositories"class="repoNavTopLinks publicActivityTab"><li class="repoNavBarListItem">
        <span class="octicon octicon-rss"></span><span> Public activity</span>
    </li></a>
  </ul><!-- repoNavBar -->
    <a href="https://github.com/account" class="editButton">
      <div>
        <span><span class="octicon octicon-pencil"></span>
Edit Profile</span>
      </div><!--editbutton-->
    </a><!--account-->
  </div><!--repoNavTopBar-->

<div class="repoNavBottomBar">
  <form action="/search" class="repo-search">
        <input type="hidden" name="user" value="tbarth17">
        <input type="text" id="your-repos-filter" name="q" class="filter_input js-filterable-field" placeholder="Find a repository…" tabindex="2">
        <input type="submit" value="Search" class="button">
  </form>
  <ul class="repoFilter">
    <li class="all">
      <a href="#">
        <span>All</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Public</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Private</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Sources</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Forks</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span>Mirrors</span>
      </a>
    </li>
    <li>
      <a href="/repositories/new" class="button primary new-repo">
          <span class="octicon octicon-repo"></span>
          New
      </a>
    </li>
  </ul>
</div>

<ul class="repoListingContainer"></ul> <!--repoListingContainer-->
  <script type="text/template" id="repo">
    <li class="repoListing">
      <a class="repoTitle" href="<%= repoUrl %>"><%= repoTitle %></a>
          <div class="rightSideTag">
            <%= languageType %>
            <a href="<%= stargazerUrl %>"><span class="octicon octicon-star"></span> <%= stargazerCount %></a>
            <a href="<%= forksUrl %>"><span class="octicon octicon-git-branch"></span> <%= forksCount %></a>
          </div> <!--rightSideTag-->
        <p class="updated">Updated <%= timeSince %></p>
      </li> <!--repoListing-->
  </script> <!--repo-->
  <!-- end repoListingContainer -->
</div> <!-- centerSectionContainer -->
<div class="footer">
  <span>© 2014 GitHub, Inc.</span>
  <a href="https://github.com/site/terms"><span>Terms</span></a>
  <a href="https://github.com/site/privacy"><span>Privacy</span></a>
  <a href="https://github.com/security"><span>Security</span></a>
  <a href="https://github.com/contact"><span>Contact</span></a>
  <a href="https://github.com"><span class="mega-octicon octicon-mark-github"></span></a>
  <a href="https://status/github.com"><span>Status</span></a>
  <a href="developer.github.com"><span>API</span></a>
  <a href="training.github.com"><span>Training</span></a>
  <a href="shop.github.com"><span>Shop</span></a>
  <a href="https://github.com/blog"><span>Blog</span></a>
  <a href="https://github.com/about"><span>About</span></a>
</div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>
  <script src="main.js"></script>
</body>
</html>
